# Ignore Python virtual environment
venv/
Venv/
ENV/
env/

__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest cache
.pytest_cache/


